html {
  background: url(rickandmorty.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 55, 55);
  padding: 0px 40px;
  color: white;
  position: sticky;
  top: 0;
}

li {
  list-style: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  min-width: 40vh;
  justify-content: space-between;
  list-style: none;
  color: white
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 5vh;
}

.card-container, .card-front, .card-back {
  min-width: 300px;
  min-height: 600px;
}

.card-container {
  perspective: 100;
}

.card-sides {
  position: relative;
  transform-style: preserve-3d;
  transition: .6s;
}

.card-front, .card-back {
  position: absolute ;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-front {
  z-index: 1;
  transform: rotateY(0deg)
}

.card-back {
  transform: rotateY(180deg)
}

.card-container:hover .card-sides {transform: rotateY(180deg);}
