html {
  background: url(rickandmorty.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 55, 55);
  padding: 0px 40px;
  color: white;
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  min-width: 40vh;
  justify-content: space-between;
  list-style: none;
  color: white
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 5vh;
}
